# Игнорируем файл настроек
settings.py

# Игнорируем папку с настройками
settings/

# Игнорируем виртуальное окружение
venv/
env/

# Игнорируем файлы базы данных
*.sqlite3

# Игнорируем миграции Django
*/migrations/

# Игнорируем файлы конфигурации PyCharm
.idea/


# Игнорируем логи
*.log